.archive {
  padding: 6em 0;
}

.archive-header {
  padding: 2em;
  display: flex;
}

.archive-header .white-space {
  flex: 2;
}

.archive-header .archive-h2 {
  flex: 1;
}

.archive-header .archive-h2 h2 {
  font-size: 2rem;
}

.archive-item {
  width: 100%;
  display: flex;
  border-top: 1px solid var(--border-dark);
  padding: 0.75em 0;
}

.archive-shots {
  flex: 2;
  display: flex;
  gap: 0.5em;
}

.archive-shots .img {
  position: relative;
  width: 100px;
  aspect-ratio: 5/4;
  will-change: transform;
}

.archive-info {
  flex: 1;
  display: flex;
}

.archive-title {
  flex: 1;
}

.archive-title h3 {
  font-size: 1rem;
}

.archive-year {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 900px) {
  .archive-item {
    flex-direction: column-reverse;
    gap: 0.5em;
    padding: 1em 0;
  }

  .archive .white-space {
    display: none;
  }

  .archive-shots .img {
    width: 50px;
  }
}
